@charset "UTF-8";
.animated-router {
  /** START: 自定义进出场动画 **/
  /** END **/ }
  .animated-router-container {
    /* 动画容器节点 */
    width: 100%;
    height: 100%;}
  .animated-router-in-transition {
    /* 页面动画中 */
    position: relative;
    width: 100%;
    overflow: hidden; }
  .animated-router-forward-enter {
    transform: translateX(-100%); }
  .animated-router-forward-enter-active {
    transform: translateX(0); }
  .animated-router-forward-exit {
    transform: translateX(0); }
  .animated-router-forward-exit-active {
    transform: translateX(-100%); }
  .animated-router-backward-enter {
    transform: translateX(-100%); }
  .animated-router-backward-enter-active {
    transform: translateX(0); }
  .animated-router-backward-exit {
    transform: translateX(0); }
  .animated-router-backward-exit-active {
    transform: translateX(-100%); }
  .animated-router-forward-enter-active,
  .animated-router-forward-exit-active,
  .animated-router-backward-enter-active,
  .animated-router-backward-exit-active {
    /* 不同过渡阶段需要的过渡时间与缓动效果 */
    transition: all 0.6s linear; }
  .animated-router-forward-exit,
  .animated-router-backward-exit {
    transition: all 0.6s linear;}
